<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/formstyle.css') }}">
</head>
<body>
    {% if user %}
        <h2>Welcome, {{ data.user }}!</h2>
    {% endif %}
    <hr>
    <form action="/setcookie" method="POST">
        <h3>User ID</h3>
        <p><input type="text" name="user"></p>
        <h3>Password</h3>
        <p><input type="password" name="password"></p>
        <p><input type="submit" name="submit"></p>
    </form>
</body>
</html>